name: CMake build

on:
  push:
    paths-ignore:
      - "docs/**"
      - "**/*.md"
      - "**/.clang-*"
      - "**/.gitignore"
      - "**/LICENSE*"
      - "**/README*"
  pull_request:
    paths-ignore:
      - "docs/**"
      - "**/*.md"
      - "**/.clang-*"
      - "**/.gitignore"
      - "**/LICENSE*"
      - "**/README*"

env:
  MACOSX_DEPLOYMENT_TARGET: 13.0
  BUILD_DIR: build
  BUILD_TYPE: RelWithDebInfo

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-latest
          - macos-latest
          - ubuntu-latest
        generators:
          - "Ninja"

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - uses: ./.github/actions/install-dependencies

      - name: Configure and build windows
        if: runner.os == 'Windows'
        shell: pwsh
        run: |
          .\packaging\windows\Enter-VsDevShell.ps1
          cmake `
            -S . `
            -B "${{ env.BUILD_DIR }}" `
            -DCMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }} `
            -DBUILD_MPV=OFF `
            -G "${{ matrix.generators }}"
          cmake --build ./build --config ${{ env.BUILD_TYPE }}
      - name: Configure and build on ubuntu or macos
        if: runner.os == 'macOS' || runner.os == 'Linux'
        shell: bash
        run: |
          cmake \
            -S . \
            -B "${{ env.BUILD_DIR }}" \
            -DCMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }} \
            -G "${{ matrix.generators }}"
          cmake --build ./build --config ${{ env.BUILD_TYPE }}
